*{
     padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.AboutUs{
    width: auto;
    height: 90px;
    margin: auto;
    text-align: center;
}
.heading{
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    
}
.about-boxes{
    display: flex;
    gap: 30px;
}
.About1{
    height: 400px;
    width: 300px;
    border: 2px solid black;
  
}
.About2{
    height: 400px;
    width: 300px;
    border: 2px solid black;
}
.About3{
    height: 400px;
    width: 300px;
    border: 2px solid black;
}
.logo img{ 
   
    font-size: 80px;
    text-align: center;
    margin-top: 30px;
}
